.imgContainer {
  width: 200px;
  height: 120px;
}

/* resize images */
.imgContainer img {
  width: 100%;
  height: auto;
}
/* 
.popover-content {
  min-width: 150px;
  min-height: 150px;
} */

body {
  padding: 25px 25px 75px;
  background-color: #eeeeee;
}